@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap");

html,
body {
  width: 100%;
  height: 100%;
}

.children-Container {
  background-color: rgb(24, 39, 56);
  top: 200em;
  padding-left: 7em;
  padding-top: 3em;
  padding-bottom: 3em;
  margin: auto;
  width: 110.9em;
}

.footer-Container {
  width: 118em;
  height: 7.7em;
  background-color: black;
  margin: auto;
}
